.DS_Store
*.pyc
*.egg-info
*.swp
*.swo
.vscode
__pycache__
*.py[cod]
node_modules/
build/
dist/
*.log
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
*.db
*.sqlite
sites/
*.egg
.installed.cfg
develop-eggs/
pip-log.txt
pip-delete-this-directory.txt
